*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 400px;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.red-btn{
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-style: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    color: #FFF;
    background-color: #de2e54;
    padding: 12px 24px;
    border-radius: 8px;
    display: inline-block;
    border: solid 2px #de2e54;
}

.red-btn:hover{
    color: #de2e54;
    background-color: #fff;
    border: 2px solid #de2e54;
}
/* HEADER SECTION STYLES */
.site-header {
    background-color: #fff;
    padding: 24px 0;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #222;
}
.site-header__logo:hover {
    color: #de2e54;
}
.site-header__logo:active {
    opacity: 0.6;
}
.site-header__logo-img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}
.site-header__logo-text { 
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
    color: #222;
    margin-left: 15px;
}
.site-header__logo-text:hover{
    color: #de2e54;
}
.site-header__naw-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-header__naw-list-item {
    margin-right: 32px;
}
.site-header__naw-list-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #222;
}
.site-header__naw-list-item a:hover{
    color: #de2e54;
}
.site-header__naw-list-item a:active{
    opacity: 0.6;
}

.site-header-btn:active{
    opacity: 0.6;
}

/* MAIN SECTION STYLES */
.site-main{
    background-color: #fff;
}
/* HERO SECTION STYLES */
.hero {
    background-color: #0eb4c1;
    color: #fff;
    padding: 120px 0;
}
.hero__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    width: 500px;
}
.hero__title {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  margin-top: 0;
  margin-bottom: 16px;
}
.hero__text {
    width: 440px;
    font-style: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 36px;
}
.hero__img {
    margin-top: -91px;
    margin-bottom: -120px;
    display: block;
}
.hero__btn:hover {
    background-color: rgba(222,46,84,0.6);
}

.hero__btn:active{
    opacity: 0.6;
}
/* SERVICES SECTION STYLES */
.servuces {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__title {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  margin-top: 0;
  margin-bottom: 56px;
  color: #000;
}
.services__list {
    width: 864px;
    list-style-type: none;
    margin-bottom: 60px;
}
.services__list-item {
    display: flex;
    align-items: center;
}
.services__list-item:not(:last-child){
    margin-bottom: 80px;
}
.services__img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    display: block;
    margin-right: 64px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.services__list-item-content {
    width: 600px;
}
.services__list-item-heading {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #222;
    margin-top: 0;
    margin-bottom: 24px;
}
.services__list-item-text {
    margin: 0;
}
.services__btn:hover {
    color: #de2e54;
    background-color: #fff;
}
.services__btn:active{
    color: #fff;
    background-color: #de2e54;
    opacity: 0.6;
}

/* REGISTER SECTION */

.register {
    background-color: #0eb4c1;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register__title {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size:36px;
    line-height: 43.2px;
    color: #fff;
}
.register__link {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size:15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: inline-block;
}
.register__link:first-child {
    margin-right: 40px;
}
.register__link:hover {
    border: solid 2px #de2e54;
    background-color: #de2e54;
}
.register__link:active{
    opacity: 0.6;
}
/* FOOTER SECTION STYLES */
.footer {
    background-color: #222;
    padding: 24px 0;
}
.footer__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.footer__logo:hover {
    color: #de2e54;
}
.footer__logo:active{
    color: #fff;
    opacity: 0.6;
}
.footer__logo-img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}
.footer__logo-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
}
.footer__naw-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__naw-list-item:not(:last-child) {
    margin-right: 32px;
}
.footer__naw-list-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    display:inline-block; 
}
.footer__naw-list-item-link:hover {
    color: #de2e54;
}
.footer__naw-list-item-link:active{
    color: #fff;
    opacity: 0.6;
}
